<!DOCTYPE html>
<html lang="en" xmlns:padding="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
</head>
<body>
<heder>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/category/list">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart/">Cart</a>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admins">ADMIN TOOLS</a>
                    </li>
                </ul>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                    <authorize access="isAuthenticated()">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </authorize>
                    <a class="nav-link" href="/auth/logout">logout</a>
                </form>
            </div>
        </div>
    </nav>
</heder>




<div th:each="product: ${products}" style="background: #e9c1e4; padding:100px;  padding-top: 50px" >

        <img th:src=${product.imageURL}  alt="..."  width="400px" >

        <p th:text="${product.name}" style="font-size: 20pt" ></p>

    <b style="font-size: 15pt">PRICE:</b>  <p th:text="${product.price}" style="font-size: 15pt"></p>
      <b style="font-size: 15pt">DESCRIPTION:</b> <p th:text="${product.description}" style="font-size: 13pt"></p>

    <!--<form id="add" th:action="@{/cart/add}" method="post" th:object="${AddToCartDto}">

        <label for="id">id</label>
        <input type="text" th:field="*{id}" id="id"/>

        <label for="quantity">quantity:</label>
        <input type="text" th:field="*{quantity}" id="quantity"/>
        <input type="hidden" th:field="*{productId}" value="1"/>

        <button type="submit" value="Add to cart">Add to cart</button>

        <input type="hidden" th:value="${product.id}" name="productId" />
    </form>-->
    <form id="add" th:action="@{/cart/add}" method="post" >

        <input type="hidden" th:value="${categoryId}" name="categoryId" />

        <input type="hidden" th:value="${product.id}" name="productId" />


        <label for="quantity"><b  style="font-size: 15pt">Quantity</b></label>
        <input type="text"  id="quantity" name="quantity"/>

        <button type="submit" value="Add to cart" STYLE="color: wheat; background: black;">Add to cart</button>
    </form>



    <!--<form action="addItemToCart" method="post">
        <div class="card-body">
            <h5 class="card-title">${product.name}</h5>
            <p class="card-text"> ${product.description} </p>
            <p class="card-text"> ${product.price} </p>
            <p><input type="number" name="quantity" value="1" maxlength="2"></p>
            <input type="hidden" name="id" value="${product.id}">
        </div>
        <input type="submit" class="btn btn-primary" value="Додати до кошика">
        <input type="submit" class="btn btn-primary" value="Купити Зараз">

    </form>-->
    <hr>
</div>




</body>
</html>